<!DOCTYPE HTML>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>                                 <meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="detentiondb entity">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!--<link href="/css/magic-bootstrap-min.css" rel="stylesheet">-->
<link href="/css/bootstrap-custom.css" rel="stylesheet">
<style>
div#leaflet-map {
  height: 400px;
}
.vchain-fullscreen {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed; 
}
.top-buffer {
  margin-top: 40px;
}
.input-group > * {
  margin-right: 20px;
}
.link {
  stroke: #999;
  stroke-opacity: .6;
}
.node-label {
  fill: #fff;
  text-anchor: middle;
}
.node-org {
  fill: #fa1e18;   
}
.node-person {
  fill: #00f;   
}
</style>
<link href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" rel="stylesheet">
</head>
<body>
<div id="main"/>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/history.js"></script>
<script src="http://fb.me/react-0.8.0.js"></script>
<script src="/js/showdown/showdown.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://marvl.infotech.monash.edu/webcola/cola.v3.min.js"></script>
<script src="/js/out/goog/base.js" type="text/javascript"></script>
<script src="/js/main.js" type="text/javascript"></script>
<script type="text/javascript">goog.require("vchain.core");</script>
</body>
</html>
